@import 'Palette.scss';

.app {
  font-family: 'Inconsolata', serif;

  width: 100vw;
}

.app-alert {
  display: inline-block;

  transition: transform 100ms, filter 100ms;
  transform: translateY(0);
  text-decoration: underline;

  color: #000;
  border-radius: 22px;
  &:hover {
    transition: transform 250ms, filter 250ms;
    transform: translateY(-2px);

    will-change: transform;
  }
  &:active {
    transition: transform 250ms, filter 250ms;
    transform: translateY(-1px);
  }
  &:visited {
    color: #888;
  }
}
