.banner
{
    position: relative;
    z-index: 15;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    background-image: url('../../images/bgImage.jpg');
    background-size: cover;
    box-shadow: 0 2px 8px #222;
}
.banner-logo
{
    width: 80vmin;

    filter: drop-shadow(2px 2px 4px #444);
}
