.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 70rem;
  max-width: 95vw;
}

.grid-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
