.our-story {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

#flock-of-birds {
  animation: flockSlide linear infinite 60s;
}

@keyframes flockSlide {
  0% {
    opacity: 0;
    transform: translate(10vw, 2rem);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10vw, -1rem);
  }
}
