@import 'Palette.scss';

.ribbon {
  font-family: 'Pacifico', cursive;
  width: 32em;
  max-width: 95vw;
  margin: 3rem;

  filter: drop-shadow(2px 2px 8px #222);
}
.ribbon-color {
  fill: $color4;
}
