@import 'Palette.scss';

.section {
  position: relative;
  z-index: 5;

  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;

  max-width: 100%;
  min-height: 50vh;
  padding: 2em;

  background-color: $color1;
}
