@import 'Palette.scss';

.section
{
    position: relative;
    z-index: 5;

    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;

    width: 100vw;
    min-height: 80vh;

    background-color: $color1;
}
